<div class="skillsdiv text-center">
<div class="container">
<h2>MY SKILLS</h2>
<p style="line-height: 30px;">{{thetextskills}}</p>
<div class="row">
    <div class="col-md-6 text-center">
        <h3>{{arr1[0]}}</h3>
    </div>
    <div class="col-md-6 text-center">
        <progress style="width: 80%; height: 30px;" max="100" value="80"></progress>
    </div>

    <div class="col-md-6 text-center">
        <h3>{{arr1[1]}}</h3>
    </div>
    <div class="col-md-6 text-center">
        <progress style="width: 80%; height: 30px;" max="100" value="75"></progress>
    </div>

    <div class="col-md-6 text-center">
        <h3>{{arr1[2]}}</h3>
    </div>
    <div class="col-md-6 text-center">
        <progress style="width: 80%; height: 30px;" max="100" value="80"></progress>
    </div>

    <div class="col-md-6 text-center">
        <h3>{{arr1[3]}}</h3>
    </div>
    <div class="col-md-6 text-center">
        <progress style="width: 80%; height: 30px;" max="100" value="70"></progress>
    </div>

    <div class="col-md-6 text-center">
        <h3>{{arr1[4]}}</h3>
    </div>
    <div class="col-md-6 text-center">
        <progress style="width: 80%; height: 30px;" max="100" value="60"></progress>
    </div>
</div>
</div>
</div>
